h1, p, li{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
  text-decoration: none;
  color:rgba(0, 0, 0, 0.782);
}

ul {
  list-style-type: none;
}

li{
  font-size: 20px;
}

.container {
  width: 500px;
  margin-top: 70px;
}

.show-container {
  width: 200px;
